In [1]:
import sys
sys.path.append('../../') # or just install the module

In [2]:
%load_ext autoreload
%autoreload 2
from fuzzytools.datascience.xerror import XError
import pandas as pd

accu_res_dic = {
'mdl=A~a=4~b=1~c=1~fff=9':{'int':5000,'a*':XError([22, 23, 21]),'b*':XError([2, 0.0]),'c*':XError([3, 0.3])},
'mdl=B~a=4~c=2~b=10':{'int':5000,'a*':XError([2, 0.1]),'b*':XError([5, 0.0]),'c*':XError([66, 0.0003])},
'mdl=C~a=4~c=3':{'int':3,'a*':XError([19, .11]),'b*':XError([10, .21]),'c*':XError([8, 31])},
'mdl=D~a=4~c=4~gg=99':{'int':2,'c*':XError([]),'b*':XError([10, .11]),'a*':XError([8,.31])},
}
alone_model = {
'mdl=F~a=4~b=1~c=1~uuufff=men':{'a*':XError([1, 10]),'b*':XError([2, 0]),'c*':XError([3, 3])},
'mdl=F~a=4~b=1~c=9~uuufff=men':{'a*':XError([1, 0, 5, 6]),'b*':XError([2, 20]),'c*':XError([9, 77])},
}

info_dfs = [
    pd.DataFrame.from_dict(accu_res_dic, orient='index'),
    pd.DataFrame.from_dict(alone_model, orient='index'),
]
display(info_dfs[0])
print(info_dfs[0])

                          int           a*           b*             c*
mdl=A~a=4~b=1~c=1~fff=9  5000  22.000±.816  1.000±1.000    1.650±1.350
mdl=B~a=4~c=2~b=10       5000   1.050±.950  2.500±2.500  33.000±33.000
mdl=C~a=4~c=3               3  9.555±9.445  5.105±4.895  19.500±11.500
mdl=D~a=4~c=4~gg=99         2  4.155±3.845  5.055±4.945              ─

                          int           a*           b*             c*
mdl=A~a=4~b=1~c=1~fff=9  5000  22.000±.816  1.000±1.000    1.650±1.350
mdl=B~a=4~c=2~b=10       5000   1.050±.950  2.500±2.500  33.000±33.000
mdl=C~a=4~c=3               3  9.555±9.445  5.105±4.895  19.500±11.500
mdl=D~a=4~c=4~gg=99         2  4.155±3.845  5.055±4.945              ─

In [3]:
info_dfs[1]

                                       a*            b*             c*
mdl=F~a=4~b=1~c=1~uuufff=men  5.500±4.500   1.000±1.000     3.000±.000
mdl=F~a=4~b=1~c=9~uuufff=men  3.000±2.550  11.000±9.000  43.000±34.000

In [7]:
%load_ext autoreload
%autoreload 2
from fuzzytools.latex.latex_tables import LatexTable

display(info_dfs[0])
display(info_dfs[1])
kwargs = {
    'caption':'captionnnn',
    'label':'labelll',
    #'bold_axis':'columns', # rows columns
    'delete_redundant_model_keys':False,
}
latex_table = LatexTable(info_dfs[0], **kwargs)
#latex_table = LatexTable(info_dfs[0], bold_criteriums=bold_criteriums, **kwargs)
print(latex_table)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

                          int           a*           b*             c*
mdl=A~a=4~b=1~c=1~fff=9  5000  22.000±.816  1.000±1.000    1.650±1.350
mdl=B~a=4~c=2~b=10       5000   1.050±.950  2.500±2.500  33.000±33.000
mdl=C~a=4~c=3               3  9.555±9.445  5.105±4.895  19.500±11.500
mdl=D~a=4~c=4~gg=99         2  4.155±3.845  5.055±4.945              ─

                                       a*            b*             c*
mdl=F~a=4~b=1~c=1~uuufff=men  5.500±4.500   1.000±1.000     3.000±.000
mdl=F~a=4~b=1~c=9~uuufff=men  3.000±2.550  11.000±9.000  43.000±34.000

%vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
\def\srule{\rule{0pt}{2ex}\rule[-1ex]{0pt}{0ex}}
\begin{table}[H]
\centering
\caption{
captionnnn
}
\label{labelll}\vspace{.1cm}
\tiny\scriptsize\footnotesize\small\normalsize
\begin{tabularx}{\textwidth}{lccccc|cccc}
\hlineB{4}
mdl & a & b & c & fff & gg & int & a* & b* & c* \srule\\
\hlineB{4}
A & 4 & 1 & 1 & 9 & $-$ & 5,000 & 22.000$\pm$.816 & 1.000$\pm$1.000 & 1.650$\pm$1.350  \srule\\
B & 4 & 10 & 2 & $-$ & $-$ & 5,000 & 1.050$\pm$.950 & 2.500$\pm$2.500 & 33.000$\pm$33.000  \srule\\
C & 4 & $-$ & 3 & $-$ & $-$ & 3 & 9.555$\pm$9.445 & 5.105$\pm$4.895 & 19.500$\pm$11.500  \srule\\
D & 4 & $-$ & 4 & $-$ & 99 & 2 & 4.155$\pm$3.845 & 5.055$\pm$4.945 & $-$  \srule\\
\hlineB{4}
\end{tabularx}
\end{table}
%^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^