In [1]:
import sys
sys.path.append('../') # or just install the module

In [2]:
%load_ext autoreload
%autoreload 2
import fuzzytools.dataframes as fcdf
import numpy as np

df = fcdf.DFBuilder()
df.append('m=e~a=1', {'true':1, 'pred':20, 'nan':np.nan})
df.append('m=fe~a=sf1', {'true':1, 'pred':8, 'nan':np.nan})
df.append('m=ea~a=22', {'true':0, 'pred':np.nan, 'nan':np.nan})
df.append('m=fe~a=1', {'true':1, 'pred':74578, 'nan':np.nan})
df()

            true     pred  nan
m=e~a=1        1     20.0  NaN
m=fe~a=sf1     1      8.0  NaN
m=ea~a=22      0      NaN  NaN
m=fe~a=1       1  74578.0  NaN

In [7]:
df = fcdf.DFBuilder()
df.append(None, {'true':1, 'pred':20, 'nan':np.nan})
df.append(None, {'true':1, 'pred':8, 'nan':np.nan})
df.append(None, {'true':0, 'pred':np.nan, 'nan':np.nan})
df.append(None, {'true':1, 'pred':74578, 'nan':np.nan})
df()

   true     pred  nan
0     1     20.0  NaN
1     1      8.0  NaN
2     0      NaN  NaN
3     1  74578.0  NaN

In [8]:
%load_ext autoreload
%autoreload 2
import fuzzytools.dataframes as fcdf

new_df, df_values, null_cols = fcdf.clean_df_nans(df(), mode='value')
print(df_values)
print(null_cols)
display(new_df)

new_df, df_values, null_cols = fcdf.clean_df_nans(df(), mode='mean')
print(df_values)
print(null_cols)
display(new_df)

new_df, df_values, null_cols = fcdf.clean_df_nans(df(), mode='median')
print(df_values)
print(null_cols)
display(new_df)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
None
['nan']

   true     pred    nan
0     1     20.0 -999.0
1     1      8.0 -999.0
2     0   -999.0 -999.0
3     1  74578.0 -999.0

true        0.750000
pred    24868.666667
nan              NaN
dtype: float64
['nan']

   true          pred  nan
0     1     20.000000  NaN
1     1      8.000000  NaN
2     0  24868.666667  NaN
3     1  74578.000000  NaN

true     1.0
pred    20.0
nan      NaN
dtype: float64
['nan']

/home/tesla/anaconda3/envs/lchandler/lib/python3.7/site-packages/numpy/lib/nanfunctions.py:1114: RuntimeWarning: All-NaN slice encountered
  overwrite_input=overwrite_input)

   true     pred  nan
0     1     20.0  NaN
1     1      8.0  NaN
2     0     20.0  NaN
3     1  74578.0  NaN

In [5]:
df = fcdf.DFBuilder()
df.append('m=e~a=1', {'true':1, 'pred':20, 'nan':np.nan})
df.append('m=fe~a=sf1', {'true':1, 'pred':8, 'nan':np.nan})
df.append('m=ea~a=22', {'true':0, 'pred':np.nan, 'nan':np.nan})
df.append('m=ea~a=22', {'true':1, 'pred':74578, 'nan':np.nan})
df()

AssertionError: indexs must be unique