In [1]:
import sys
sys.path.append('../') # or just install the module

In [6]:
%load_ext autoreload
%autoreload 2
import flamingchoripan.dataframes as fcdf
import numpy as np

df = fcdf.DFBuilder()
df.append('m=e~a=1', {'true':1, 'pred':20, 'nan':np.nan})
df.append('m=fe~a=sf1', {'true':1, 'pred':8, 'nan':np.nan})
df.append('m=ea~a=22', {'true':0, 'pred':np.nan, 'nan':np.nan})
df.append('m=fe~a=1', {'true':1, 'pred':74578, 'nan':np.nan})
df()

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

            true     pred  nan
m=e~a=1        1     20.0  NaN
m=fe~a=sf1     1      8.0  NaN
m=ea~a=22      0      NaN  NaN
m=fe~a=1       1  74578.0  NaN

In [7]:
%load_ext autoreload
%autoreload 2
import flamingchoripan.dataframes as fcdf

new_df, df_values, null_cols = fcdf.clean_df_nans(df(), mode='mean')
print(df_values)
print(null_cols)
new_df

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
true        0.750000
pred    24868.666667
dtype: float64
['nan']

            true          pred
m=e~a=1        1     20.000000
m=fe~a=sf1     1      8.000000
m=ea~a=22      0  24868.666667
m=fe~a=1       1  74578.000000