In [6]:
import sys
sys.path.append('../') # or just install the module

In [19]:
%load_ext autoreload
%autoreload 2
from fuzzytools.datascience.statistics import TopRank

rank = TopRank('ranking')
for k in range(59):
    rank.add(f'asd-{k}', k*2+0.1)
print(rank)
df = rank.get_df()
df

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
ranking[top10]:
(1) - asd-58: 116.1000
(2) - asd-57: 114.1000
(3) - asd-56: 112.1000
(4) - asd-55: 110.1000
(5) - asd-54: 108.1000
(6) - asd-53: 106.1000
(7) - asd-52: 104.1000
(8) - asd-51: 102.1000
(9) - asd-50: 100.1000
(10) - asd-49: 98.1000

        ranking
asd-58    116.1
asd-57    114.1
asd-56    112.1
asd-55    110.1
asd-54    108.1
asd-53    106.1
asd-52    104.1
asd-51    102.1
asd-50    100.1
asd-49     98.1